<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.curriculumdesign.bookserp.erp.mapper.SalesOrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.curriculumdesign.bookserp.erp.domain.SalesOrderItemEntity">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="book_id" property="bookId" />
        <result column="quantity" property="quantity" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, book_id, quantity
    </sql>

</mapper>
